<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee" xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" destroy-method="close">
		<property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver" />
		<property name="url" value="jdbc:jtds:sqlserver://10.209.64.135:1433/AVALIACAO_JAVA" />
		<property name="username" value="usr_avaliacao_java" />
		<property name="password" value="pwd_avaliacao_java" />
	</bean>

	<bean id="postInsertEventListener" class="net.woodstock.rockframework.domain.hibernate.PostInsertEventListener" />

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" autowire-candidate="true">
		<property name="dataSource" ref="dataSource" />

		<property name="eventListeners">
			<map>
				<entry key="post-insert">
					<ref local="postInsertEventListener" />
				</entry>
			</map>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.order_updates">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>net.woodstock.rockframework.test.jpa.Email</value>
				<value>net.woodstock.rockframework.test.jpa.Endereco</value>
				<value>net.woodstock.rockframework.test.jpa.Pessoa</value>
				<value>net.woodstock.rockframework.test.jpa.Telefone</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="autodetectDataSource" value="true" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>