<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
        <property name="connection.url">jdbc:jtds:sqlserver://10.209.64.135:1433/AVALIACAO_JAVA</property>
        <property name="connection.username">usr_avaliacao_java</property>
        <property name="connection.password">pwd_avaliacao_java</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!-- <property name="hibernate.hbm2ddl.auto">create</property> -->

        <!-- Cadastro -->
        <mapping class="net.woodstock.rockframework.test.jpa.Email" />
        <mapping class="net.woodstock.rockframework.test.jpa.Endereco" />
        <mapping class="net.woodstock.rockframework.test.jpa.Pessoa" />
        <mapping class="net.woodstock.rockframework.test.jpa.Telefone" />
        
        
    </session-factory>
</hibernate-configuration>
